body{
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(98, 98, 231);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logo{
    text-align: center;
  }
  
  .logo img {
    max-width: 70px;
    height: auto;
    border-radius: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  nav ul li:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    margin-bottom: 10px;
  }

  .search-box form {
    display: flex;
    align-items: center;
    float: right;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  
  header button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: white;
    color: rgb(98, 98, 231);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  header button[type="submit"]:hover {
    background-color: blue;
    color: white;
  }
  
  .sign-form{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    bottom: 0;
  }
  .sign-form form{
    margin-left: 20%;
    bottom: 0;
  }
  .search-box, .sign-form{
    padding-top: 20px;
  }

  .nav-links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 5vw;
    z-index :2;
  }

  .box{
    margin-top: 4vh;
    height: 80%;
    position: relative;
    background-color: white;
    border-radius: 20px;
  }

  .left-div{
    width: 20vw;
    float: left;
  }

  .left-div ul{
    list-style-type: none;

  }
  .left-div li{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .left-div a{
    text-decoration: none;
    font-size: 24px;
    color: blue;
  }

  .center-div{
    margin-left: 3%;
    overflow:auto;
    width: 52vw;
    overflow-x: hidden;
  }

  .summit-form{
    margin-top: 10px;
  }

  #status-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  textarea{
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 70%;
  }

  .right-div{
    float: right;
    position: relative;
    display: block;
    width: 20vw;
    align-items: center;
  }

  .mobile-res{
    display: none;
    width: 100vw;
    height: 8vh;
    background-color: rgb(98, 98, 231);
    position: fixed;
    bottom: 0;
  }
  
  .right-div h5{
    text-align: center;
  }

  #background-img{
    background-color: gray;
    border-radius: 5px;
    width: 80%;
    height: 10%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  #photo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    margin: 0 auto;
    margin-top: -15%;
    z-index: 2;
  }
  #photo img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  #friends-list{
    width: 80%;
    background-color: lightskyblue;
    height: 35%;
    margin: 0 auto;
  }

  #avatar{
    border-radius: 50%;
    width: 50px;
  }

  input[type="button"]{
    border-radius: 20px;
    color: white;
    background-color: rgb(66, 66, 240);
    box-shadow: 3px 3px;
    width: 75px;
    height: 40px;
    border: 0px;
  }

  .status-post{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(203, 246, 248,0.3);
  }

  .status-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin: 1%;
    padding: 5px;
    height: 35px;
  }

  #status-avt{
    width: 30px;
    height: 30px;
  }

  .status-content{
    margin: 1%;
  }

  #status-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: 992px) {
    .search-box, nav{
      display: none;
    }

    .box{
      margin-top: 2vh;
    }

    .center-div{
      width: 95vw;
      margin-left: 0px;
    }

    .left-div, .right-div{
      display: none;
    }

    .mobile-res{
      display: block;
    }
  }
 
  @media screen and (max-width: 530px) {
    textarea{
      width: 60%;
    }
  }

  @media screen and (max-width: 400px) {
    textarea{
      width: 50%;
    }
  }
  
